MONGO_URI=mongodb+srv://anujchaturvedi230_db_user:anuj887106@cluster0.ph9cfng.mongodb.net/?appName=Cluster0
JWT_SECRET=JWT_SECRET=Anuj_Placement_2000_X7p9K2mQ8vR4tc5z
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=887106
PORT=5000
